/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* equation number alignment */
.eqno {
    float: right;
}

/* formatting of nml and ofile lists */
dl.nml-option-list > dt {
  font-weight: normal;
}

dl.nml-option-list > dt strong {
  font-weight: bold;
}

dl.ofile-field-list > dt {
  font-weight: normal;
}

dl.ofile-field-list > dt strong {
  font-weight: bold;
}
